@charset "utf-8";
.toalarm .toalarm_news ul li a, .toalarm .toalarm_news ul li span {
    -o-text-overflow: ellipsis;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.toalarm {
    width: 390px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 3px;
    float: left;
    background: #f6f4f5;
    position: fixed;
    right: 20px;
    bottom: 5px;
    display: none;
    padding-bottom: 5px;
    z-index: 10
}

.toalarm .toalarm_top {
    width: 100%;
    height: 37px;
    background-color: #c53f42;
    border-bottom: 1px solid #eedcdd
}

.toalarm .toalarm_top .toalarm_top_l {
    float: left;
    width: 157px;
    height: 37px;
    line-height: 37px;
    position: relative;
    color: #fff;
    text-indent: 65px
}

.toalarm .toalarm_top .toalarm_top_l img {
    float: left;
    position: absolute;
    top: -6px;
    left: 10px
}

.toalarm .toalarm_top .toalarm_top_l .horn {
    width: 18px;
    height: 18px;
    float: left;
    margin: 10px 0 0 10px;
    background: url(../../images/comold/hornopen.png) no-repeat;
    cursor: pointer
}

.toalarm .toalarm_top .toalarm_top_l .hover {
    width: 18px;
    height: 18px;
    float: left;
    background: url(../../images/comold/hornclose.png) no-repeat;
    cursor: pointer;
    margin: 10px 0 0 10px
}

.toalarm .toalarm_top .toalarm_top_l h1 {
    font-style: normal;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    float: left;
    display: block
}

.toalarm .toalarm_top .toalarm_top_r {
    float: right;
    width: 18px;
    height: 18px;
    cursor: pointer;
    margin: 8px 10px 0 0
}

.toalarm .toalarm_news {
    width: 94%;
    height: auto;
    margin: 0 auto
}

.toalarm .toalarm_news ul {
    width: 100%;
    height: auto;
    float: left
}

.toalarm .toalarm_news ul li {
    float: left;
    padding: 0 0 5px 20px;
    font-size: 12px;
    line-height: 20px;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    margin-top: 5px;
    background: url(../../images/comold/comold_fk2.png) 10px 17px no-repeat #fefefe;
    width: 367px
}

.toalarm .toalarm_news ul li:nth-of-type(odd) {
    background: url(../../images/comold/comold_fk1.png) 10px 17px no-repeat #fefefe
}

.toalarm .toalarm_news ul li i {
    font-style: normal;
    color: #77696b
}

.toalarm .toalarm_news ul li a {
    display: block;
    width: 100%;
    margin-top: 10px;
    color: #77696b
}

.toalarm .toalarm_news ul li span {
    display: block;
    color: #999;
    margin-top: 3px;
    width: 270px
}

.centre_content .top_title {
    width: 100%;
    height: 60px;
    background: #eef5fc;
    border-bottom: 1px solid #ededed
}

.centre_content .top_title .title_left {
    width: 35%;
    height: 60px;
    line-height: 60px;
    float: left;
    margin-left: 1%
}

.centre_content .top_title .title_left > div {
    float: left
}

.centre_content .top_title .title_left .text_left {
    font-size: 16px;
    font-weight: 700;
    font-family: '黑体';
    padding-right: 60px
}

.centre_content .top_title .title_left .text_left a {
    color: #1f96d2;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block
}

.centre_content .top_title .title_left .text_left a:hover {
    color: #f7a700
}

.centre_content .top_title .title_left .tip_left span {
    display: block;
    background: #ff8823;
    padding: 0 15px;
    color: #fff;
    height: 20px;
    line-height: 20px;
    margin-top: 20px;
    font-family: '黑体'
}

.centre_content .top_title .title_left .tip_left {
    margin-left: 1%
}

.centre_content .top_title .right_content {
    width: 64%;
    float: right
}

.centre_content .top_title .right_content .operation {
    width: 255px;
    float: right;
    height: 60px
}

.centre_content .top_title .right_content .operation .dom_operation {
    float: right;
    overflow: hidden;
    width: 100%
}

.centre_content .top_title .right_content .operation .dom_operation ul {
    width: 100%;
    height: auto;
    overflow: hidden
}

.centre_content .top_title .right_content .operation .dom_operation ul li {
    float: right;
    cursor: pointer;
    width: 80px;
    height: 60px;
    oveflow: hidden;
    background: url(../../images/comold/over_one.gif) left center no-repeat
}

.centre_content .top_title .right_content .operation .dom_operation ul li span {
    display: block;
    height: 36px;
    text-align: center;
    width: 100%;
    color: #78797a
}

.centre_content .top_title .right_content .operation .dom_operation ul li:hover {
    background: #f1f1f1
}

.centre_content .top_title .right_content .operation .dom_operation ul li.numone .bot_text {
    line-height: 30px
}

.centre_content .top_title .right_content .operation .dom_operation ul li .top_pic {
    margin-top: 5px
}

.centre_content .search_wrap {
    width: 100%;
    height: auto;
    margin-top: 15px
}

.centre_content .search_wrap .push_search {
    width: 100%;
    height: auto;
    background: #fff;
    border: 1px solid #eee;
    box-sizing: border-box
}

.centre_content .search_wrap .push_search .nav_top {
    width: 100%;
    height: auto
}

.centre_content .search_wrap .push_search .nav_top ul {
    width: 100%;
    height: auto;
    overflow: hidden;
    background: #f8f8f8
}

.centre_content .search_wrap .push_search .nav_top ul li {
    float: left;
    line-height: 45px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    border-top: 2px solid #f8f8f8;
    font-family: "黑体"
}

.centre_content .search_wrap .push_search .nav_top ul li.hover, .centre_content .search_wrap .push_search .nav_top ul li:hover {
    background: #fff;
    color: #1f96d2;
    border-top: 2px solid #1f96d2
}

.centre_content .search_wrap .push_search .nav_top ul li a {
    display: block;
    padding: 0 18px
}

.centre_content .search_wrap .push_search .nav_top ul li a:hover, .centre_content .search_wrap .push_search .nav_top ul li.hover a {
    color: #1f96d2
}

.centre_content .search_wrap .push_search .search_condition {
    margin: 20px 15px;
    font-size: 12px;
    overflow: hidden
}

.centre_content .search_wrap .push_search .search_condition .search_content .change_condition {
    height: auto;
    overflow: hidden;
    margin-top: 15px
}

.centre_content .search_wrap .push_search .search_condition .search_content .change_condition > ul {
    width: 100%;
    height: auto;
    overflow: hidden
}

.centre_content .search_wrap .push_search .search_condition .search_content .change_condition > ul > li {
    width: 100%;
    height: auto;
    border-bottom: 1px dashed #d8d8d8;
    min-height: 44px;
    overflow: hidden;
    border-top: none
}

.centre_content .search_wrap .push_search .search_condition .search_content .change_condition ul li .text_title {
    width: 120px;
    font-size: 14px;
    font-weight: 700;
    float: left
}

.centre_content .search_wrap .push_search .search_condition .search_content .change_condition ul li .text_title .title {
    line-height: 43px;
    text-indent: 10px;
    float: left
}

.centre_content .search_wrap .push_search .search_condition .search_content .change_condition ul li .text_title .pic {
    margin-top: 11px;
    float: left
}

.centre_content .search_wrap .push_search .search_condition .search_content .change_condition ul li .content {
    margin-left: 120px;
    float: none
}

.centre_content .search_wrap .push_search .search_condition .search_content .change_condition ul li .content ul {
    width: 100%;
    height: auto;
    overflow: hidden
}

.centre_content .search_wrap .push_search .search_condition .search_content .change_condition ul li .content ul li {
    float: left;
    margin-left: 15px;
    line-height: 30px;
    margin-top: 7px;
    cursor: pointer;
    padding: 0;
    height: auto
}

.centre_content .search_wrap .push_search .search_condition .search_content .change_condition ul li .content ul li a {
    padding: 0 20px;
    display: inline-block
}

.centre_content .search_wrap .push_search .search_condition .search_content .change_condition ul li .content ul li a input {
    display: none
}

.centre_content .search_wrap .push_search .search_condition .search_content .change_condition ul li .content ul li a.hover, .centre_content .search_wrap .push_search .search_condition .search_content .change_condition ul li .content ul li.hover, .centre_content .search_wrap .push_search .search_condition .search_content .change_condition ul li .content ul li.hover a {
    color: #00acea
}

.centre_content .search_wrap .push_search .search_condition .search_content .change_condition ul li .custom {
    width: 74%;
    height: 43px;
    overflow: hidden
}

.centre_content .search_wrap .push_search .search_condition .search_content .change_condition ul li .but_flexible {
    border: 1px solid #dedede;
    border-radius: 3px;
    cursor: pointer;
    float: right;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    text-align: center;
    margin-top: 6px;
    margin-right: 10px
}

.centre_content .search_wrap .push_search .search_condition .search_content .change_condition ul li .but_flexible:hover {
    border: 1px solid #f7a700;
    color: #f7a700
}

.input_text {
    height: 28px;
    border: 1px solid #ddd;
    color: #666;
    line-height: 30px;
    background: url(../images/over_datapic.gif) right center no-repeat;
    width: 100%
}

.input_but {
    background: #1f96d2;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    height: 30px;
    padding: 0 15px
}

.tree_uls li a, .tree_uls li span.button {
    background-color: transparent;
    display: inline-block;
    cursor: pointer
}

.pops .pop_con .con .piece .box .con_long {
    width: 300px
}

.tree_uls {
    width: 100%;
    overflow: hidden
}

.tree_uls li {
    color: #333;
    cursor: pointer;
    float: left;
    width: 100%;
    line-height: 30px
}

.tree_uls li span.button {
    background-attachment: scroll;
    background-image: url(../../images/comold/newTreeioc.png);
    background-repeat: no-repeat;
    border: 0;
    height: 16px;
    line-height: 0;
    margin: 0;
    outline: 0;
    vertical-align: middle;
    width: 16px
}

.tree_uls li span.center_close {
    background-position: 0 0
}

.tree_uls li span.bottom_open {
    background-position: -14px 0
}

.tree_uls li span.typle-zt {
    background-position: -29px 0;
    width: 12px
}

.tree_uls li span.typle-wzi {
    background-position: -43px 0;
    width: 15px
}

.tree_uls li span.type-lx {
    background-position: -58px 0
}

.tree_uls li span.typle-subset {
    background-position: -100px 0;
    width: 15px
}

.tree_uls li ul {
    margin-left: 25px
}

.tree_uls li a {
    color: #333;
    margin: 0;
    padding: 1px 3px 0 0;
    text-decoration: none;
    vertical-align: top;
    text-indent: 0
}

.tree_uls li a.haver {
    background: #D9EEF8;
    border: none
}

.filter-wary {
    width: 500px
}

.filter-wary .pop_head {
    width: 100%
}

.filter-wary .pop_con {
    width: 468px
}

.filter-wary .pop_con .con, .filter-wary .pop_con .tobriefing {
    width: 100%
}

.filter-wary .pop_con .tobriefing .filter1 {
    border-bottom: 1px solid #dbdbdb;
    font-weight: 700;
    line-height: 24px;
    margin: 0 auto;
    padding: 10px 0;
    width: 96%
}

.filter-wary .pop_con .tobriefing .filter1 input[type=text] {
    border: 1px solid #cbcbcb;
    height: 20px;
    padding-left: 5px;
    width: 200px
}

.filter-wary .pop_con .tobriefing .but {
    clear: both;
    padding: 10px 0 0;
    text-align: right;
    width: 98%
}

.filter-wary .pop_con .tobriefing .but .but_qr {
    background-color: #7fa5d1;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    height: 30px;
    text-align: center;
    width: 80px
}

.broken_map {
    width: 100%;
    margin-top: 20px
}

.broken_map ul {
    overflow: hidden;
    border-radius: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

.broken_map li {
    width: 48%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: left;
    height: 300px;
    margin: 1%
}

.broken_map li.li1 {
    border-right: none
}

.analyse-thead {
    width: 100%;
    height: auto;
    padding-top: 30px
}

.analyse-thead .analyse-thead-left {
    width: 11%;
    float: left;
    font-size: 24px;
    color: #56AAF0;
    text-align: right;
    padding-right: 1%
}

.analyse-thead .analyse-thead-right {
    width: 87%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    float: left;
    height: 56px;
    border-left: 2px solid #359DEE;
    font-size: 24px;
    text-indent: 20px;
    position: relative;
    color: #56AAF0
}

.analyse-thead .analyse-thead-right > i {
    background: url(../../images/comold/analyse_ioc1.png) left top no-repeat #f3f3f3;
    height: 26px;
    width: 26px;
    display: block;
    position: absolute;
    top: -13px;
    left: -13px
}

.analyse-body {
    width: 100%;
    margin: 0
}

.analyse-body .analyse-body-left {
    width: 11%;
    float: left;
    padding-right: 1%;
    margin-top: 20px
}

.analyse-body .analyse-body-left > p {
    width: 70%;
    text-align: right;
    line-height: 20px;
    color: #666;
    float: left
}

.analyse-body .analyse-body-left > i {
    display: block;
    border: 8px solid #359DEE;
    border-color: #359DEE #f3f3f3 #f3f3f3;
    float: right;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px
}

.analyse-body .analyse-body-left > i.hover {
    border-color: #f3f3f3 #f3f3f3 #f3f3f3 #359DEE;
    margin-top: 5px
}

.analyse-body .analyse-body-right {
    width: 87%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    float: left;
    border-left: 2px solid #359DEE;
    padding-bottom: 20px;
    position: relative
}

.analyse-body .analyse-body-right > div {
    width: 92%;
    margin-left: 30px
}

.analyse-body .analyse-body-right > div i {
    display: block;
    position: absolute
}

.analyse-body .analyse-body-right > div i.y {
    width: 24px;
    height: 24px;
    background: url(../../images/comold/analyse_ioc2.png) top left no-repeat;
    left: -14px;
    top: 20px
}

.analyse-body .analyse-body-right > div i.s {
    width: 10px;
    height: 17px;
    background: url(../../images/comold/analyse_ioc3.png) top left no-repeat;
    left: -10px;
    top: 13px
}

.analyse-body .analyse-body-right > div .info {
    width: 100%;
    border: 1px solid #D7D7D7;
    -moz-box-shadow: 0 0 5px #D7D7D7;
    -webkit-box-shadow: 0 0 5px #D7D7D7;
    box-shadow: 0 0 5px #D7D7D7;
    padding: 10px 0;
    background: #fff;
    font-size: 12px;
    margin-top: 10px;
    position: relative
}

.analyse-body .analyse-body-right > div .info p {
    margin: 10px auto;
    width: 96%
}

.analyse-body .analyse-body-right > div .info .p1 {
    padding-bottom: 5px;
    border-bottom: 1px solid #DDD;
    line-height: 20px
}

.analyse-body .analyse-body-right > div .info .p1 a {
    color: #359DEE
}

.analyse-body .analyse-body-right > div .info .p1 span, .analyse-body .analyse-body-right > div .info .p2 {
    color: #FE7E38
}

.analyse-body .analyse-body-right > div .info .p3 {
    color: #DF4756
}

.analyse-body .analyse-body-right > div .info ol {
    width: 100%
}

.analyse-body .analyse-body-right > div .info ol li {
    width: 90%;
    float: left;
    padding: 10px 0;
    text-indent: 15px
}

.analyse-body .analyse-body-right > div .info-tit {
    width: 100%;
    border: 1px solid #D7D7D7;
    -moz-box-shadow: 0 0 5px #D7D7D7;
    -webkit-box-shadow: 0 0 5px #D7D7D7;
    box-shadow: 0 0 5px #D7D7D7;
    padding: 10px 0;
    background: #fff;
    font-size: 12px;
    margin-top: 10px;
    position: relative;
    display: none
}

.analyse-body .analyse-body-right > div .info-tit p {
    margin: 10px auto;
    width: 96%;
    color: #18A77E
}

.analyse-body .showgkinfo > div .info {
    display: none
}

.analyse-body .showgkinfo > div .info-tit {
    display: block
}

.analyse-footer {
    width: 100%;
    margin: 0 0 20px
}

.analyse-footer .analyse-footer-left {
    width: 11%;
    float: left;
    padding-right: 1%
}

.analyse-footer .analyse-footer-right {
    width: 87%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    float: left;
    height: 36px;
    border-left: 2px solid #359DEE;
    font-size: 24px;
    text-indent: 20px;
    position: relative;
    color: #56AAF0
}

.analyse-footer .analyse-footer-right > i {
    background: url(../../images/comold/analyse_ioc5.png) left top no-repeat #f3f3f3;
    height: 38px;
    width: 38px;
    display: block;
    position: absolute;
    bottom: -20px;
    left: -20px
}

.centre_content .search_wrap .push_search .search_condition .click_wrap {
    width: 100%;
    height: auto;
    margin: 15px 0
}

.centre_content .search_wrap .push_search .search_condition .click_wrap .again {
    padding: 5px 15px;
    float: left;
    background: #e3a626;
    border-radius: 5px;
    color: #fff;
    cursor: pointer
}

.centre_content .search_wrap .push_search .search_condition .click_wrap .again:hover {
    background: #fdac02
}

.centre_content .search_wrap .push_search .search_condition .click_wrap .show_hide {
    padding: 5px 15px;
    float: left;
    background: #1f96d2;
    border-radius: 5px;
    margin-left: 2%;
    color: #fff;
    cursor: pointer
}

.centre_content .search_wrap .push_search .search_condition .click_wrap .show_hide:hover {
    background: #5fc6fa
}